.attribution {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: $accent-color;
  color: $primary-color;
  line-height: 1.5;
}
.attribution a{ 
  color: $body-color;
  text-decoration: none;
}

